<a href="https://colab.research.google.com/github/Boluwatife102/pythonpractice/blob/main/Copy_of_Week1_Minor_Assignment_Starter_WED.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1 Minor Assignment: Introduction to Python and Google Colab

**Student Name:** Week1_Minor_Assignment_Starter_WED.ipynb(Boluwatife Olu-Johnson)

**Submission Date:**  

## Instructions
Complete all tasks in this notebook. Include descriptive markdown text between code cells to explain your approach. Make sure to run all cells before submission.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Dataset Loading

First, let's load the datasets we'll be working with.

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Load datasets
# Note: Modify the paths below based on your file locations
sales_data = pd.read_csv('sales_data.csv')
customers = pd.read_csv('customers.csv')
orders = pd.read_csv('orders.csv')
order_items = pd.read_csv('order_items.csv')
product_reviews = pd.read_csv('product_reviews.csv')

# Display the first few rows of each dataset to verify loading
print("Sales Data:")
print(sales_data.head())

print("\nCustomers:")
print(customers.head())

print("\nOrders:")
print(orders.head())

print("\nOrder Items:")
print(order_items.head())

print("\nProduct Reviews:")
print(product_reviews.head())

Sales Data:
   product_id          product_name     category    price  stock_quantity
0        1001            Laptop Pro  Electronics  1299.99              45
1        1002        Wireless Mouse  Accessories    24.99             150
2        1003  Bluetooth Headphones        Audio    89.99              78
3        1004           USB-C Cable  Accessories    12.99             200
4        1005       27-inch Monitor  Electronics   249.99              30

Customers:
  customer_id first_name last_name                 email signup_date  \
0        C001       John     Smith  john.smith@email.com  2023-01-15
1        C002      Emily   Johnson     emily.j@email.com  2023-02-03
2        C003    Michael     Davis      mdavis@email.com  2023-01-27
3        C004    Jessica    Wilson      jess_w@email.com  2023-03-10
4        C005      David  Martinez   dmartinez@email.com  2023-02-14

   total_purchases
0                5
1                3
2                7
3                2
4                4

Orders:
  order_id customer_id  order_date  total_amount     status
0  ORD-001        C003  2023-01-28       1399.97  Delivered
1  ORD-002        C001  2023-02-02        249.99  Delivered
2  ORD-003        C006  2023-02-05        224.97  Delivered
3  ORD-004        C002  2023-02-10       1299.99  Delivered
4  ORD-005        C009  2023-02-15        112.97  Delivered

Order Items:
  order_id  product_id  quantity  unit_price  subtotal
0  ORD-001        1001         1     1299.99   1299.99
1  ORD-001        1002         1       24.99     24.99
2  ORD-001        1004         3       12.99     38.97
3  ORD-002        1005         1      249.99    249.99
4  ORD-003        1003         1       89.99     89.99

Product Reviews:
  review_id  product_id customer_id  rating review_date  \
0   REV-001        1001        C002       5  2023-02-12
1   REV-002        1003        C006       4  2023-02-07
2   REV-003        1005        C001       5  2023-02-05
3   REV-004        1002        C003       3  2023-01-30
4   REV-005        1007        C003       5  2023-02-22

                                    review_text
0          Excellent laptop, fast and reliable.
1      Good sound quality, comfortable to wear.
2  Perfect size and resolution. Very satisfied!
3  Works well but battery life could be better.
4           Super fast storage, easy to set up.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Part 1: Basic Python Variables and Operations (20 points)

1. Create variables for:
   - A product name (string)
   - A product price (float)
   - Whether the product is in stock (boolean)
   - The stock quantity (integer)

# New Section

In [ ]:
product_name ="Bluetooth Headphones"   #string
product_price = 89.99             #float
in_stock = True                   #Boolean
stock_quantity = 78                #Integer

print(product_name)
print(product_price)
print(in_stock)
print(stock_quantity)

Bluetooth Headphones
89.99
True
78

2. Write expressions that:
   - Calculate the total value of the inventory (price × quantity)
   - Apply a 15% discount to the price
   - Check if the product is in stock AND the price is less than $100
   - Create a formatted string showing product details

In [ ]:
# Calculate the total value of the inventory (price × quantity)
total_value = product_price * stock_quantity
print(total_value)

#Apply a 15% discount to the price
discount_price = product_price * 0.85
print(discount_price)

#Check if the product is in stock AND the price is less than $100
product_price = 89.99
in_stock = True
if in_stock and product_price < 100:
  print("product is available and affordable")
else:
  print("product is expensive")

#Create a formatted string showing product details
product_details = (
    f"Product: {product_name}\n"
    f"Original Price: ${product_price:.2f}\n"
    f"Discounted Price: ${discount_price:.2f}\n"
    f"In Stock: {in_stock}\n"
    f"Quantity: {stock_quantity}\n"
    f"Total Inventory Value: ${total_value:.2f}\n"
    f"in stock & price is less than $100: {product_name} is available"
    )
print(product_details)

7019.219999999999
76.49149999999999
product is available and affordable
Product: Bluetooth Headphones
Original Price: $89.99
Discounted Price: $76.49
In Stock: True
Quantity: 78
Total Inventory Value: $7019.22
in stock & price is less than $100: Bluetooth Headphones is available

## Part 2: Working with Data Structures (25 points)

1. Create a list of at least 5 products with their prices

In [ ]:
# Create a list of at least 5 products with their prices
products = ["Laptop Pro", "wireless Mouse", "Bluetooth Headphones", "USB-C Cable", "27-inch Monitor"]
prices = [1299.99, 24.99, 89.99, 12.99, 249.99]

2. Create a dictionary representing a single product with the following keys:
   - `id`, `name`, `price`, `category`, `in_stock`, `features` (list of features)

In [ ]:
# Create a dictionary representing a single product with the following keys:
product = {
    "id" : 1001,
    "name": "Laptop Pro",
    "price": 1299.99,
    "category": "Electronics",
    "in_stock" : True,
    "Features" : ["Excellent laptop", "fast", "reliable" ]
}
print(product)

{'id': 1001, 'name': 'Laptop Pro', 'price': 1299.99, 'category': 'Electronics', 'in_stock': True, 'Features': ['Excellent laptop', 'fast', 'reliable']}

3. Using the list of products:
   - Find the most expensive product
   - Calculate the average price
   - Create a new list containing only products under $50

In [ ]:
#list of products
products = ["Laptop Pro", "Wireless Mouse", "Bluetooth Headphones", "USB-C Cable", "27-inch Monitor"]
prices = [1299.99, 24.99, 89.99, 12.99, 249.99 ]

#Find the most expensive product

4. Using the product dictionary:
   - Add a new key for `discount_price` that's 10% off the original price
   - Add a new feature to the features list
   - Create a formatted string that describes the product

In [ ]:
from os import name
# using product dictionary

product = {
    "id" : 1001,
    "name": "Laptop Pro",
    "price": 1299.99,
    "category": "Electronics",
    "in_stock" : True,
    "Features" : ["Excellent laptop", "fast", "reliable" ]
}

#Add a new key for discount_price that's 10% off the original price
product["discount_price"] = round(product["price"] * 0.90, 2)

#Add a new feature to the features list
product["Features"].append ("12 hours battery life")
print(product)

#Create a formatted string that describes the product

product_info = (
    f"id : {product['id']}\n"
    f"product : {product['name']}\n"
    f"price : ${product['price']:.2f}\n"
    f"category : {product['category']}\n"
    f"in_stock : {product['in_stock']}\n"
    f"discount_price : ${product['discount_price']:.2f}\n"
    f"Features : {product['Features']}"

)

print(product_info)

{'id': 1001, 'name': 'Laptop Pro', 'price': 1299.99, 'category': 'Electronics', 'in_stock': True, 'Features': ['Excellent laptop', 'fast', 'reliable', '12 hours battery life'], 'discount_price': 1169.99}
id : 1001
product : Laptop Pro
price : $1299.99
category : Electronics
in_stock : True
discount_price : $1169.99
Features : ['Excellent laptop', 'fast', 'reliable', '12 hours battery life']

## Part 3: Functions and Control Flow (25 points)

1. Write a function called `calculate_total_price(price, quantity, tax_rate=0.08)` that:
   - Calculates the subtotal (price × quantity)
   - Adds tax based on the provided rate
   - Returns the final total
   - Test your function with at least 3 different scenarios

In [ ]:
# Calculates the subtotal (price × quantity)
def calculate_total_price(price, quantity, tax_rate=0.08):
    subtotal = price * quantity
    tax = subtotal * tax_rate
    total = subtotal + tax
    return round(total,2)

#Test your function with at least 3 different scenarios

total_laptop = calculate_total_price(1299.99, 45, tax_rate=0.08)
print(f" total_laptop: ${total_laptop}")

total_wirelessmouse = calculate_total_price(24.99, 150, tax_rate=0.08)
print(f"total_wirelessmouse: ${total_wirelessmouse}")

total_Bluetoothheadphone = calculate_total_price(89.99, 78, tax_rate=0.08)
print(f"total_Bluetoothheadphone: {total_Bluetoothheadphone}")

 total_laptop: $63179.51
total_wirelessmouse: $4048.38
total_Bluetoothheadphone: 7580.76

2. Write a function called `analyze_sales(products_data)` that:
   - Takes a list of product dictionaries
   - Groups products by category
   - Calculates the average price per category
   - Returns a dictionary with categories as keys and average prices as values
   - Test your function with a sample list of at least 6 products across 3 categories

In [ ]:
# Write a function called analyze_sales(products_data)
# Step 1: Define the analyze_sales function
def analyze_sales(products_data):
    category_totals = {}
    category_counts = {}

    for product in products_data:
        category = product["category"]
        price = product["price"]

        if category not in category_totals:
            category_totals[category] = 0
            category_counts[category] = 0

        category_totals[category] += price
        category_counts[category] += 1

    category_averages = {}
    for category in category_totals:
        average = category_totals[category] / category_counts[category]
        category_averages[category] = round(average, 2)

    return category_averages

 #Test your function with a sample list of at least 6 products across 3 categories
products = [
  {"name": "Bluetooth Headphones", "price": 89.99, "category": "Electronics"},
  {"name": "Smart Watch", "price": 120.00, "category": "Electronics"},
  {"name": "Laptop Pro", "price": 1299.99, "category": "Electronics"},
  {"name": "USB-C Cable", "price": 12.99, "category": "Accessories"},
  {"name": "Wireless Mouse", "price": 24.99, "category": "Accessories"},
  {"name": "27-inch Monitor", "price": 249.99, "category": "Electronics"}
]

result = analyze_sales(products)
print(result)

{'Electronics': 439.99, 'Accessories': 18.99}

3. Write a function called `check_inventory(product, threshold=10)` that:
   - Returns "Low stock" if quantity is below the threshold
   - Returns "In stock" if quantity is at or above the threshold
   - Returns "Out of stock" if quantity is 0
   - Test with different product scenarios

In [ ]:
# Write a function called check_inventory(product, threshold=10)
def check_inventory(product, threshold=10):
    quantity = product.get("quantity", 0)  # Default to 0 if not provided

    if quantity == 0:
        return "Out of stock"
    elif quantity < threshold:
        return "Low stock"
    else:
        return "In stock"

# Test with different product scenarios
product1 = {"name": "laptop pro", "quantity" : 45 }
product2 = {"name": "Bluetooth Headphones", "quantity": 78 }
product3 = {"name": "charger", "quantity" : 0 }
product4 = {"name": "flash drive", "quantity" : 8 }


print(f"product1 : {check_inventory(product1)}")
print(f"product2 : {check_inventory(product2)}")
print(f"product3 : {check_inventory(product3)}")
print(f"product4 : {check_inventory(product4)}")

product1 : In stock
product2 : In stock
product3 : Out of stock
product4 : Low stock

## Part 4: SQL to Python Translation (30 points)

Using the provided CSV datasets, translate the following SQL queries to Python code using pandas:

1. Basic Selection and Filtering
```sql
SELECT * FROM products WHERE category = 'Electronics' AND price > 100;
```

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
products_df = pd.read_csv("sales_data.csv")

filtering = products_df[
    (products_df["category"] == "Electronics") & (products_df["price"] > 100)
]

print("\nFiltering (WHERE):\n")
print(filtering)

Filtering (WHERE):

   product_id     product_name     category    price  stock_quantity
0        1001       Laptop Pro  Electronics  1299.99              45
4        1005  27-inch Monitor  Electronics   249.99              30

2. Aggregation and Grouping
```sql
SELECT category, COUNT(*) as product_count, AVG(price) as avg_price
FROM products
GROUP BY category;
```

In [ ]:
# python
print("\nGrouping and aggregation (GROUP BY):\n")
category_avg = products_df.groupby('category')['price'].mean().reset_index()
print(category_avg)

Grouping and aggregation (GROUP BY):

      category   price
0  Accessories   26.99
1        Audio   84.99
2  Electronics  539.99
3      Storage  159.99

3. Joining Tables
```sql
SELECT o.order_id, c.first_name, c.last_name, o.order_date, o.total_amount
FROM orders o
JOIN customers c ON o.customer_id = c.customer_id
WHERE o.total_amount > 200
ORDER BY o.order_date DESC;
```

In [ ]:
# Your pandas code here

4. Complex Query with Multiple Joins
```sql
SELECT
    p.product_name,
    COUNT(DISTINCT o.order_id) as order_count,
    SUM(oi.quantity) as total_quantity,
    AVG(oi.unit_price) as avg_price
FROM products p
JOIN order_items oi ON p.product_id = oi.product_id
JOIN orders o ON oi.order_id = o.order_id
WHERE o.status = 'Delivered'
GROUP BY p.product_id, p.product_name
HAVING COUNT(DISTINCT o.order_id) > 1
ORDER BY total_quantity DESC;
```

In [ ]:
# Your pandas code here

## Summary

In this assignment, I've demonstrated my understanding of Python basics including:
- Working with variables and basic operations
- Using and manipulating data structures (lists and dictionaries)
- Creating functions and implementing control flow
- Translating SQL queries to Python code using pandas

### Reflection
(Add a brief reflection on what you learned and any challenges you encountered)